@model FreeChat.Core.Models.ViewModels.MyRoomsViewModel
@{
    ViewBag.Title = "MyRooms";
}

@Styles.Render("~/bundles/MyRoomsViewStyle")




<div class="container">
    <div class="list-group" id="myRoomsCardGroup">
        @{
            if (Model.MyTopics.Any())
            {
                foreach (var room in Model.MyTopics)
                {


                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"> @room.Name</h5>
                            <small>Genre:&nbsp;@room.Genre</small>
                        </div>
                        <p class="mb-1">Description :&nbsp; @room.Description</p>
                        <small>Date Expiring:&nbsp;@room.DateExpired</small>
                        <span class="pull-right">
                            <span class="btn btn btn-default">
                                <span class="fa fa-arrow-circle-o-right fa-2x  roomEnter" aria-hidden="true" data-toggle="tooltip" data-placement="right" id="@room.Id" title="Enter Room!"></span>
                            </span>
                        </span>
                    </a>


                }
            }
            else
            {
                <a href="@Url.Action("Create", "ChatRoom")" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-warning">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">No Rooms Yet</h5>
                        <small>@DateTime.Today</small>
                    </div>
                    <p class="mb-1">Create a Room</p>

                    <span class="pull-right">
                        <span class="btn btn btn-default">
                            <span class="fa fa-arrow-circle-o-right fa-2x " aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Create a Room!"></span>
                        </span>
                    </span>
                </a>
            }

        }
    </div>

</div>

@section scripts{
    @Scripts.Render("~/bundles/IndexView")

    <script>
        $(document).on("click", ".roomEnter", function () {
            var roomId = $(this).attr("id");

            $.ajax({
                method: "get",
                url: "/api/ChatEngineApi/Chatengine?roomId=" + roomId,

                success: function (data) {
                    if (data) {
                        window.location = "/ChatEngine/ChatStart?roomid=" + roomId;
                    } else {
                        alert("Room Anavailable");
                    }

                }

            });
        });

    </script>
   
}
