@model FreeChat.ViewModels.MainCategoriesViewModel

@{
    ViewBag.Title = "Free Chat";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
@Styles.Render("~/bundles/IndexViewStyle")

<div class="container" id="container-categories-img-list">
    <a href="@Url.Action("Create","ChatRoom")" class="btn btn-default btn-lg btn-block" id="blockBtnMAinCateg">Create a Room </a>

    <ul class="list img-list" id="imglistMainCategories">
        @{
            foreach (var categ in Model.MainCategories)
            {
                <li data-categ-id='@categ.Id'>
                    <a href='#' class='inner'>
                        <div class='li-img'>
                            <img src='@categ.CategoryImage' alt='@categ.Name' height='120'/>
                        </div>
                        <div class='li-text'>
                            <h3 class='li-head'>@categ.Name</h3>
                            <div class='li-sub'>
                                <p>@categ.CategoryDescription</p>
                            </div>
                        </div>
                    </a>
                    <button type="button" class="btn btn-primary goToRoomsBtn">See Rooms</button>
                </li>
            }
        }
    </ul>
</div>

<div class="card text-center" id="redirectPanel">
    <div class="card-block" id="cardBlock">
        <a href="@Url.Action("MainCategories","Home")" class="btn btn-default btn-lg btn-block">Back to Main Categories</a>
    </div>
</div>



<div class="card m-5" id="roomsByCategory">
    <div class="card-header">
        <i class="fa fa-table"></i> Chat Rooms
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="ChatRoomsByGenre" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Description</th>
                    <th>Date Expired</th>
                    <th>Go</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated @DateTime.Today.ToShortDateString()</div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/IndexView")

    <script type="text/javascript">
        $(function() {
            IndexController.Init();
        });
    </script>

}
