

@{
    ViewBag.Title = "Free Chat";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

@Styles.Render("~/bundles/chatRoomsAdminViewStyle")

<div class="card text-center" id="redirectPaneRoomsAdmin">
    <div class="card-block" id="cardBlockRoomsAdmin">

        @Html.ActionLink("Users", "Users", "Dashboard", null, new {@class = "btn btn-primary"})

        @Html.ActionLink("Go to Rooms", "AllChatRooms", "Home", null, new {@class = "btn btn-primary"})
    </div>
</div>
<div class="card m-5">
    <div class="card-header">
        <i class="fa fa-table"></i> Chat Rooms
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="allChatRoomsAdmin" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Description</th>
                    <th>Date Expired</th>
                    <th>Creator</th>
                    <th>Change Status</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated @DateTime.Today.ToShortDateString()</div>
</div>




<!-- Modal -->
<div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="User" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="User">User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="usersModalBody">
                <ul class="list-group" id="listModal">
                    <li class="list-group-item-action" id="userNameLabelModal"><strong>User Name :&nbsp; </strong><span class="valueofModal"></span></li>
                    <li class="list-group-item-action" id="idLabelModal"><strong>Id :&nbsp; </strong><span class="valueofModal"></span></li>
                    <li class="list-group-item-action" id="emailLabelModal"><strong>Email :&nbsp; </strong><span class="valueofModal"></span></li>
                    <li class="list-group-item-action" id="statusLabelModal"><strong>Status :&nbsp; </strong><span class="valueofModal"></span></li>
                    <li class="list-group-item-action" id="roomsLeftLabelModal"><strong>Rooms Left :&nbsp; </strong><span class="valueofModal"></span></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/chatRoomsAdminPartial")
    <script>
        $(function () {
            ChatRoomsAdminPartialController.Init();
        });
    </script>
}
