

@{
    ViewBag.Title = "Free Chat";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

@Styles.Render("~/bundles/chatRoomsAdminViewStyle")

<div class="card text-center" id="redirectPaneRoomsAdmin">
    <div class="card-block" id="cardBlockRoomsAdmin">
        
        @Html.ActionLink("Users", "Users", "Dashboard", null, new {@class = "btn btn-primary"})

        @Html.ActionLink("Go to Rooms", "AllChatRooms", "Home", null, new {@class = "btn btn-primary"})
    </div>
</div>
<div class="card m-5">
    <div class="card-header">
        <i class="fa fa-table"></i> Chat Rooms
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="allChatRoomsAdmin" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Description</th>
                        <th>Date Expired</th>
                        <th>Creator</th>
                        <th>Change Status</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated @DateTime.Today.ToShortDateString()</div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/chatRoomsAdminPartial")
    <script>
        $(function () {
            ChatRoomsAdminPartialController.Init();
        });
    </script>
}
