@model FreeChat.Web.ViewModels.NewChatRoomViewModel
@{
    ViewBag.Title = "Create";

}

@Styles.Render("~/bundles/ChatRoomViewStyle")

<div class="container" id="createRoomContainer">
    <div class="row" id="createRoomContainerRow">
        <div class="col-lg-6">
            <br />
            <div class="card info-color lighten-2 text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">Create the chat room you want</p>
                </div>
            </div>

            <br />
            <div class="card">

                <!-- Card body -->
                <div class="card-body">

                    @using (Html.BeginForm("CreateRoom", "ChatRoom", new { @class = "md-form", role = "form", id = "createRoomForm" }))
                    {

                        @Html.AntiForgeryToken()
                        <h6>Main Categories</h6>

                        <div class="btn-group" data-toggle="buttons" id="maincategs">
                            @foreach (var categ in Model.MainCategories)
                            {
                                <label class="btn btn-primary">
                                    @categ.Name
                                    @Html.RadioButtonFor(r => r.MainCategoryId, categ.Id, new { id = categ.Id, autocomplete = "off", @checked = "checked" })
                                </label>
                            }
                        </div>

                        <div class="md-form mb-4">
                            @Html.TextBoxFor(m => m.RoomName, new { @class = "form-control", id = "nameInput" })
                            <label for="nameInput">Room Name</label>
                            @Html.ValidationMessageFor(m => m.RoomName)
                        </div>

                        <div class=" md-form mb-4">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", id = "roomDescription" })
                            <label for="roomDescription">Description</label>
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>

                        <button class="btn btn-default" type="submit">Save</button>

                    }
                </div>
</div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4" id="createrRoom-details">
            <!--Panel-->
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Rooms Created</h6>
                    <p class="card-text text-center font-weight-bold"><h3>@Model.RoomsCreated</h3></p>
                </div>
            </div>
            <!--/.Panel-->

            <!--Panel-->
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Rooms Left</h6>
                    <p class="card-text text-center font-weight-bold"><h3>@Model.RoomsLeft</h3></p>
                </div>
            </div>
            <!--/.Panel-->

            <!--Panel-->
            <div class="card" id="myRoomsCardCreateRoom">
                <div class="card-body" >
                    <div class="card info-color text-center z-depth-2">
                        <div class="card-body">
                            <p class="white-text mb-0">My Rooms</p>
                        </div>
                    </div>
                    <ul class="list-group">
                        @{
                    
                            if (Model.UserTopics.Any())
                            {
                                foreach (var topic in Model.UserTopics)
                                {
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div>
                                            <strong>@topic.Name</strong><br />
                                            <span class="text-info">Description :</span>@topic.Description<br />
                                            <span class="text-info">Date Expiring:</span>@topic.DateExpired
                                        </div>
                                    </a>
                                }
                            }
                            else
                            {
                                <a href="#" class="list-group-item list-group-item-action"><strong>No Rooms yet</strong></a>
                            }
                    
                        }
                    
                    </ul>
                </div>
            </div>
            
            <!--Panel-->
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title ">Instructions</h6>
                    <p class="card-text"><i class="fa fa-dot-circle-o"></i>&nbsp;Check remaining rooms
                        <br/>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;Complete and  save the form below
                        <br/>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;If you have not any rooms left check the expiration date and retry then                                            
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
   

@section scripts{
    @Scripts.Render("~/bundles/ChatRoomView")
    @Scripts.Render("~/bundles/jqueryval")
}






